// jobs
.jobs {
  .job {
    h2 {
      background: #DD4814;
      border-radius: 10px;
      color: #fff;
      font: {
        size: 18px;
      }
      padding: 0 15px;

      a {
        color: #fff;
      }
    }

    table {
      th {
        width: 80px;
      }
    }
  }
}

// jobs#show
.job {
  table {
    th {
      width: 120px;
    }
  }
}
